.review {
  font-family: "Poppins", sans-serif;
  padding: 3.2rem 2.4rem 0 2.4rem;
}
.review-wrapper {
  font-family: "Poppins", sans-serif;
  width: 27.2rem;
  margin: 0 auto;
}
.review-header {
  text-align: center;
}
.review-header h2 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #183B56;
}
.review-header p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #5A7184;
}
.review-card-cont {
  display: grid;
  gap: 2.4rem;
  margin-top: 3.2rem;
  justify-content: center;
}
.review-card {
  width: 26.2rem;
  height: 18.3rem;
  background-color: #FFFFFF;
  padding: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-radius: 1rem;
  box-shadow: 1.31px 2.62px 18.34px 0 rgba(0, 0, 0, 0.08);
}
.review-card-header {
  height: 4.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  margin: 2rem 4rem;
}
.review-card-header img {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
}
.review-card-text {
  color: rgb(18, 20, 29);
}
.review-card-text p {
  margin: 0;
}
.review-card-text strong {
  font-size: 1.1rem;
  font-weight: 700;
}
.review-card-text small {
  font-size: 0.9rem;
  font-weight: 400;
}
.review-card-body {
  width: 22rem;
  height: 80px;
  margin: 0 20px 20px 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #12141D;
  text-align: center;
}
.review-btn-more {
  width: 8.9rem;
  height: 3.7rem;
  background-color: #052A44;
  padding: 8px 12px;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.8rem;
  border: none;
  margin: 3.2rem 9.1rem;
}
.review-btn-more:hover {
  background-color: #183B56;
  cursor: pointer;
}
.review-arrow-btn {
  display: none;
}

@media (min-width: 768px) {
  .review {
    padding: 0 8rem 0 7rem;
    width: 90%;
  }
  .review-wrapper {
    width: 100%;
  }
  .review-header {
    text-align: center;
  }
  .review-header h2 {
    color: #000000;
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  .review-header p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #071210;
    margin-top: 0;
  }
  .review-card-cont {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .review-card {
    width: 40rem;
    height: 23rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 28px 0 rgba(0, 0, 0, 0.08);
  }
  .review-card-header {
    height: 7rem;
    gap: 2.4rem;
  }
  .review-card img {
    width: 7rem;
    height: 7rem;
  }
  .review-card-text strong {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .review-card-text small {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .review-card-body {
    width: 33.6rem;
    height: 7.2px;
    margin: 0 32px 32px 32px;
    font-size: 1.6rem;
  }
  .review-btn-more {
    display: none;
  }
  .review-arrow-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 6rem;
  }
  .review-arrow-btn .prev {
    width: 4.8rem;
    height: 4.9rem;
    border: none;
    border-radius: 0.6rem;
    gap: 1rem;
  }
  .review-arrow-btn .prev:hover {
    background-color: #183B56;
    cursor: pointer;
  }
  .review-arrow-btn .prev:hover p {
    color: #FFFFFF;
  }
  .review-arrow-btn .next {
    width: 4.8rem;
    height: 4.9rem;
    border: none;
    border-radius: 0.6rem;
    gap: 1rem;
  }
  .review-arrow-btn .next:hover {
    background-color: #183B56;
    cursor: pointer;
  }
  .review-arrow-btn .next:hover p {
    color: #FFFFFF;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}/*# sourceMappingURL=main.css.map */